@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap');


html {
    font-size: 62.5%;
}


a,
header a:visited {
    color: inherit;
    text-decoration: none;
}

li:active {
    transition: 70ms;
    transform: scale(0.95);
}

* {
    margin: 0;
}

body {
    font-family: Playfair;
}

header {
    box-sizing: border-box;

    height: 7rem;
    padding-top: .3rem;
    padding-bottom: .8rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.7);
}

.fundo-escuro {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
}


/* caso precise trocar o fundo das outras áreas

aside#contato > div.fundo-escuro {
    background-color: rgba(0, 0, 0, 0.4);
}
    
aside > div.fundo-escuro, footer > div.fundo-escuro {
    background-color: rgba(0, 0, 0, 0.4);
} */

.container {
    width: 90%;
    max-width: 100rem;
    height: fit-content;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

header .container {
    max-width: 75rem;
}

.logoWynn {
    width: 21.5rem;
}

.logoWynn#home {
    order: 1;
}

header nav {
    width: 90%;
    max-width: 21rem;
}

header nav#dois {
    order: 2;
}

header nav ul {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    gap: 1.1em;

    list-style: none;
}

header nav li {
    font-size: 2.7rem;
}


#banner {
    height: 100vh;

    background: scroll url(../assets/imgs/fundo-barris-vinho.jpg) center center no-repeat;
    background-size: cover;

    font-family: Forum;
    color: white;
}

/* Inicio da Dashboard */

.hanburger-menu {
    position: absolute;
    top: 1.5%;
    left: -25rem;
    width: 32rem;
    height: 100vh;
    z-index: 100;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    transition: left 1s ease;
}

.hanburger-menu.change-menu {
    left: 0;
}

.menu-icon {
    position: relative;
    width: 5rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: black;
    border: solid white 0.2rem;
    margin: 1.5rem 0 0 2rem;
    cursor: pointer;
}

.icon-line {
    background-color: white;
    margin: .3rem 0;
    border-radius: 1rem;
}

.icon-line-1 {
    width: 3rem;
    height: .3rem;
    transition: all 1s ease;
}

.icon-line-2 {
    width: 3rem;
    height: .3rem;
    transition: all 1s ease;
}

.icon-line-3 {
    width: 3rem;
    height: .3rem;
    transition: all 1s ease;
}

.icon-line-1.change-menu {
    position: absolute;
    top: 1rem;
    left: 1.3rem;
    transform-origin: left;
    transform: rotate(45deg);
}

.icon-line-3.change-menu {
    position: absolute;
    top: 1rem;
    left: .5rem;
    transform-origin: right;
    transform: rotate(-45deg);
}


.icon-line-2.change-menu {
    width: 0;
    height: 0;
}

.menu-box {
    box-sizing: border-box;
    height: 100%;
    width: 25rem;
    background-color: black;
    text-align: center;
    padding: 1rem;
}

.menu-box h2 {
    font-size: 3rem;
    margin: 2rem;
}

.menu-item {
    width: 100%;
    height: 5rem;
    border: solid white .1rem;
    color: white;
    font-size: 2rem;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem 0;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.menu-item:hover {
    color: darkred;
    background-color: white;
}

.menu-item:active {
    color: white;
    background-color: darkred;
}

.item-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20rem;
}

.item-logout img {
    width: 2rem;
}

.item-logout span {
    font-size: 2rem;
    font-weight: 600;
}

#banner-Dashboard {
    min-height: 102vh;
    background: scroll url(../assets/imgs/fundo-barris-vinho.jpg) center center no-repeat;
    background-size: cover;
    font-family: Forum;
    color: white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-dashboard {
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.9);
}

.container-dashboard {
    width: 100%;
    min-height: 90%;
}

.dashboard {
    width: 100%;
    min-height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-dashboard {
    width: 100%;
    height: 10%;
    font-size: 2rem;
    font-weight: bolder;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
}

.itens_dashboard {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.linha-dashboard {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.elemento {
    background-color: white;
    border-radius: .5rem;
    box-shadow: .1rem .1rem 1rem .1rem black;
}

.elemento-duplo-caixa {
    height: 30rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem 3rem;
}

.elemento-duplo {
    height: 45%;
    width: 100%;
    font-family: monospace;
    box-sizing: border-box;
    padding: 1rem;
}

.caixa {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.caixa select {
    outline: none;
    height: 3rem;
    width: 14rem;
    font-size: 2rem;
    text-align: center;
    border-radius: 2rem;
    margin-top: 1rem;
}

.caixa-input-radio {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.formatacao {
    flex-direction: column;
    font-family: monospace;
    text-align: center;
}

.formatacao p {
    color: black;
    font-size: 1.6rem;
    font-weight: bolder;
    text-align: center;
}

.formatacao h2 {
    color: black;
    font-size: 3rem;
    font-weight: bolder;
    margin-top: 1rem;
}

.formatacao h3 {
    color: darkred;
    font-size: 4rem;
    font-weight: bolder;
    margin-top: 1rem;
}

.elemento-estreito {
    height: 20rem;
    width: 30rem;
    font-weight: bolder;
    margin: 0 1rem 3rem;
    padding: 2rem;
    box-sizing: border-box;
}

.elemento-grafico {
    height: 40rem;
    width: 62.5rem;
    margin: 0 1rem 3rem;
    display: flex;
    flex-direction: column;
}

.titulo_grafico {
    color: black;
    text-align: center;
}

#display_grafico_duplo {
    height: 90%;
    width: 100%;
}

#display_grafico_temp {
    height: 90%;
    width: 100%;
}

#display_grafico_co2 {
    height: 90%;
    width: 100%;
}

canvas {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}


#display_temperatura {
    font-size: 3.5rem;
    color: green;
}

#display_temperatura h3 {
    font-size: 3.5rem;
    /* color: green; */
}

.minima_temperatura {
    font-size: 1.6rem;
    color: blue;
}

.maxima_temperatura {
    font-size: 1.6rem;
    color: red;
}

#display_CO2 {
    height: 80%;
    width: 100%;
}

#h2tanque {
    text-align: center;
    font-size: 2.2rem;
    color: black;
}

#tanques {
    font-size: 2rem;
    text-align: center;
    color: black;
}

#tanques span {
    font-size: 5rem;
    color: darkred;
}

#h2tipo {
    color: darkred;
    font-weight: bolder;
    text-align: center;
    font-size: 2.2rem;
}

#tempo-fermentacao-h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
}

#tempo-fermentacao {
    font-size: 1.6rem;
    text-align: center;
    color: black;
    margin: 1.5rem 0;
}

#tempo-fermentacao span {
    font-size: 3.5rem;
    color: darkred;
}


#status-ok span {
    font-size: 10rem;
    color: green;
}

.listaTanques {
    width: 24rem;
    height: 64rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.containerTanque {
    display: flex;
    width: 50%;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iconeTanque {
    padding: .2rem;
    border-radius: .5rem;
    width: 8rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

.iconeTanque p {
    font-size: 2rem;
}

.iconeTanque img {
    aspect-ratio: 1;
    width: 6rem;
    border-radius: 10rem;
    padding: .2rem;
}

.selected_tank {
    border: solid .2rem rgba(255, 255, 255, .6);
}

.listaAvisos {
    width: 24rem;
    height: 64rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.display-none {
    display: none;
}


/* Responsividade */
@media (max-width: 1689px) {
    .elemento-largo-grande {
        height: 44rem;
        width: 95rem;
    }

}

@media (max-width: 1015px) {
    .elemento-largo-grande {
        height: 28rem;
        width: 62.5rem;
    }

    #dashboard_alerta {
        order: -1;
    }

}

@media (max-width: 538px) {
    .elemento-estreito {
        height: 26rem;
        width: 29rem;
        font-size: 5rem;
    }

    .elemento-duplo-caixa {
        height: 26rem;
        width: 29rem;
    }

    .caixa-input-radio {
        width: 90%;
    }

}

@media (max-width: 522px) {
    .elemento-estreito {
        height: 26rem;
        width: 28rem;
        font-size: 5rem;
    }

    .elemento-duplo-caixa {
        height: 26rem;
        width: 28rem;
    }

}

@media (max-width: 505px) {
    .elemento-estreito {
        height: 26rem;
        width: 27rem;
        font-size: 5rem;
    }

    .elemento-duplo-caixa {
        height: 26rem;
        width: 27rem;
    }

}

@media (max-width: 500px) {
    .elemento-estreito {
        height: 28rem;
        width: 29rem;
        font-size: 5rem;
    }

    .elemento-duplo-caixa {
        height: 28rem;
        width: 29rem;
    }

}

@media (max-width: 430px) {

    .elemento-estreito {
        height: 28rem;
        width: 28rem;
        margin: 0 0.5rem 3rem;
    }

    .elemento-duplo-caixa {
        height: 28rem;
        width: 28rem;
        margin: 0 0.5rem 3rem;
    }

}


@media (max-width: 404px) {

    .elemento-estreito {
        height: 28rem;
        width: 27rem;
    }

    .elemento-duplo-caixa {
        height: 28rem;
        width: 27rem;
    }

}

@media (max-width: 377px) {

    .elemento-estreito {
        height: 28rem;
        width: 25rem;
    }

    .elemento-duplo-caixa {
        height: 28rem;
        width: 26rem;
    }

}

@media (max-width: 363px) {

    .elemento-estreito {
        height: 30rem;
        width: 24rem;
    }

    .elemento-duplo-caixa {
        height: 30rem;
        width: 24rem;
    }

}


/* Fim da Dashboard */