@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap');


html {
    font-size: 62.5%;
}



* {
    margin: 0;
}

body {
    font-family: Playfair;
    height: 100vh;
}

header {
    box-sizing: border-box;

    height: 7rem;
    padding-top: .3rem;
    padding-bottom: .8rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.7);
}

.fundo-escuro {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
}


/* caso precise trocar o fundo das outras áreas

aside#contato > div.fundo-escuro {
    background-color: rgba(0, 0, 0, 0.4);
}
    
aside > div.fundo-escuro, footer > div.fundo-escuro {
    background-color: rgba(0, 0, 0, 0.4);
} */

.container {
    width: 100%;
    max-width: 100rem;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

header .container {
    max-width: 75rem;
}

.logoWynn {
    width: 21.5rem;
}



#banner {
    height: 100vh;
    background: scroll url(../imgs/fundo-barris-vinho.jpg) center center no-repeat;
    background-size: cover;
    font-family: Italiana;
    color: white;
}

#slogan {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

#slogan h1 {
    font-size: 5rem;
    margin-bottom: 5rem;
}